<div class="wrapper background_mmm">
  <div class="container-fluid">
    <div class="row">
      <div class="col-12 col-sm-8 col-md-6 col-lg-6">
        <div class="card card-pos">
          <div *ngIf="submitted && !emailExist" class="alert alert-danger text-center">
            Invalid account.
          </div>
          <div class="header">
            <h4 class="title text-info text-center">Forgot Your Password?<br />
              <small>Enter email to reset your password</small></h4>
          </div>
          <div class="content">
            <form #f="ngForm" class="mt-5" (ngSubmit)="submit(f)">
              <div class="row">
                <div class="col-10 col-sm-10 col-sm-offset-1">
                  <div class="form-group">
               <br>
                    <input type="text" required ngModel name="email" pattern="^[a-zA-Z0-9.!#$%&'*+/=?^_`{|}~-]+@[a-zA-Z0-9](?:[a-zA-Z0-9-]{0,61}[a-zA-Z0-9])?(?:\.[a-zA-Z0-9](?:[a-zA-Z0-9-]{0,61}[a-zA-Z0-9])?)*$"
                      #email="ngModel" placeholder="Email Address" id="email" class="form-control" [ngClass]="{'is-invalid': submitted && email.errors}"
                      (keyup)="onClear()" />
                    <div *ngIf="
                      submitted &&
                      email.errors">
                      <small *ngIf="
                        submitted && 
                        email.errors.required">
                        Email Required
                      </small>
                      <small *ngIf="
                          submitted &&
                          email.errors.pattern">
                        Email pattern: abc@domain.com
                      </small>
                    </div>
                  </div>
                </div>
              </div>
              <br />
              <div class="row">
                <div class="col-10 col-sm-10 col-sm-offset-1">
                  <button class="btn btn-info btn-fill btn-block">Submit</button>
                </div>
              </div>
              <div class="row">
                <div class="col-10 col-sm-10 col-sm-offset-1">
                  <p class="small text-center text-gray-soft">
                    Remember your password?
                    <a routerLink="/login" routerLinkActive="active">Login</a>
                  </p>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
