<div class="main-content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12">
        <div class="card">
          <div class="header">
            <h4 class="title">Timesheet Summary</h4>
            <p class="category">Internal Employee</p>
          </div>
          <div class="content table-responsive table-full-width">
            <table class="table table-hover table-striped">
              <thead>
                <tr>
                  <th *ngFor="let cell of summaryData.headerRow">{{ cell }}</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let row of summaryData.dataRows">
                  <td>{{ row["projectName"] }}</td>
                  <td>
                    <a
                      [routerLink]="['/timesheetdetail', row['timesheetId']]"
                      routerLinkActive="active"
                      >{{ row["startDate"] }}-{{ row["endDate"] }}
                    </a>
                  </td>
                  <td>{{ row["total"] }}</td>
                  <td>{{ row["status"] }}</td>
                  <td>{{ row["manager"] }}</td>
                  <td>{{ row["updatedTime"] }}</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
