<div class="ui-modal-overlay" [style.zIndex]="zIndex" [ngStyle]="{'display': (visible && backdrop) ? 'block' : 'none'}">
</div>

<div class="ui-modal" tabindex="-1" role="dialog" #modalRoot appResizable [south]="true" [east]="true" [southEast]="true"
  [minWidth]="minWidth" [minHeight]="minHeight" (resize)="onResize($event)" appDraggable [dragEventTarget]="dragEventTarget"
  [ngStyle]="{'display': visible ? 'block' : 'none'}" [style.width.px]="width" [style.minWidth.px]="minWidth"
  [style.zIndex]="contentzIndex" (mousedown)="moveOnTop()" (touchstart)="moveOnTop()">
  <div class="ui-modal-header" #modalHeader (mousedown)="initDrag($event)" (touchstart)="initDrag($event)">
    <div class="ui-titlebar">
      <span class="ui-modal-title" *ngIf="modalTitle">{{modalTitle}}</span>
      <ng-content select=".app-modal-header"></ng-content>
    </div>
    <div class="ui-controlbar">
      <span (click)="hide()" (mousedown)="onCloseIcon($event)" (touchstart)="onCloseIcon($event)">
        <svg class="ui-icon" version="1.1" xmlns="http://www.w3.org/2000/svg" width="28" height="32" viewBox="0 0 28 32">
          <path fill="currentColor" d="M17.75 16l9.85-9.85c0.5-0.5 0.5-1.3 0-1.75-0.5-0.5-1.3-0.5-1.75 0l-9.85 9.85-9.85-9.9c-0.5-0.5-1.3-0.5-1.75 0-0.5 0.5-0.5 1.3 0 1.75l9.85 9.9-9.9 9.85c-0.5 0.5-0.5 1.3 0 1.75 0.25 0.25 0.55 0.35 0.9 0.35s0.65-0.1 0.9-0.35l9.85-9.85 9.85 9.85c0.25 0.25 0.55 0.35 0.9 0.35s0.65-0.1 0.9-0.35c0.5-0.5 0.5-1.3 0-1.75l-9.9-9.85z"></path>
        </svg>
      </span>
    </div>
  </div>

  <div class="ui-modal-body" #modalBody>
    <div *ngIf="textExist">
      <div *ngFor="let t of text">
        <p>{{ t }}</p>
      </div>
    </div>
    <div *ngIf="inputExist">
      <div [ngSwitch]="inputStr">
        <div *ngSwitchCase="'textarea'">
          <textarea class="col-sm-12" rows="4" [(ngModel)]=reason (keyup)="onClear()" [ngClass]="{ 'is-invalid': reasonError}"></textarea>
          <div *ngIf="reasonError">
            <small>Reason Requried</small>
          </div>
        </div>
        <div *ngSwitchDefault>
          <input type="text">
        </div>
      </div>
    </div>
  </div>
  <div class="ui-modal-footer" #modalFooter>
    <button type="button" class="btn btn-default btn-fill" (click)="cancel()">Cancel</button>&nbsp;
    <button type="button" class="btn btn-info btn-fill" style="float: right;" (click)="confirm()">Confirm</button>
  </div>
</div>